* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  height: 100%;
}

body {
  background-color: #282a36;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

dialog {
  margin: auto;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.5rem 3rem;
  max-width: 400px;
  z-index: 10;
}

dialog::backdrop {
  background-color: rgba(40, 42, 54, 0.6);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
}

.win {
  font-size: 24px;
  font-weight: 700;
}

.win > span {
  color: #50fa7b;
  display: block;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.board {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.letter {
  width: 50px;
  height: 50px;
  color: #f8f8f2;
  border: 1px solid #f8f8f2;
  border-radius: 3px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter.exact {
  color: #282a36;
  background-color: #50fa7b;
}

.letter.inexact {
  color: #282a36;
  background-color: #f1fa8c;
}

.letter.bad {
  background-color: #44475a;
}

.keyboard {
  width: 350px;
  display: grid;
  gap: 8px;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.key {
  width: 100%;
  height: auto;
  color: #282a36;
  background-color: #f8f8f2;
  border: 1px solid #f8f8f2;
  border-radius: 3px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.key.backspace {
  color: #f8f8f2;
  background-color: #ff5555;
}

.key.enter {
  color: #282a36;
  background-color: #50fa7b;
}

@media (min-width: 640px) {
  .board {
    width: 350px;
  }

  .keyboard {
    width: 400px;
  }

  .letter {
    width: 60px;
    height: 60px;
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .board {
    width: 400px;
  }

  .keyboard {
    width: 450px;
  }

  .letter {
    width: 70px;
    height: 70px;
    font-size: 48px;
  }
}

/* @media (min-width: 1024px) {
  .board {
    width: 450px;
  }

  .keyboard {
    width: 500px;
  }

  .letter {
    width: 80px;
    height: 80px;
    font-size: 56px;
  }
} */
